@import url('https://fonts.googleapis.com/css?family=Merriweather|Nanum+Gothic&display=swap');

.vis-title {
    font-family: 'Merriweather', 'Times New Roman';
}

.vis-body {
    font-family: 'Nanum Gothic', 'Calibri';
}

html {
 scroll-behavior: smooth;
}

.title-border {
  border-top: solid gray 3px;
  border-bottom: solid gray 3px;
}

#header-background {
  background: url(../resources/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

ul.list-preprend-right-arrow li::before, .preprend-right-arrow::before{
  content: ">";
  padding-right: 5px;
}

.bg-lightdark {
  background-color: #DDD;
}
